* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  hsl(210, 46%, 95%);
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 97%);
    max-width: 20rem;
    width: 20rem;
    max-height: 50rem;
    height: 37rem;
    padding: 0;
    font-family: "Manrope";
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    padding-bottom: 0;
}

.main-photo {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.text-div {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    padding-bottom: 1rem;
}

.main-title {
    color: hsl(217, 19%, 35%);
    max-width: 18rem;
    width: 17rem;
    font-size: 1.05rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

p {
    color: hsl(214, 17%, 51%);
    max-width: 16rem;
    width: 15.75rem;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.bottom-div {
    max-width: 100%;
    width: 100%;
    height: 50%;
    margin-top: 1rem;
    margin-bottom: 0;
}

.michelle-avatar {
    position: absolute;
    max-width: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-left: 1.5rem;
}

.name {
    position: absolute;
    color: hsl(217, 19%, 35%);
    font-size: 0.85rem;
    font-weight: 700;
    margin-left: 5rem;
}

.date {
    position: absolute;
    color: hsl(212, 23%, 69%);
    opacity: 0.8;
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 5rem;
    padding-top: 1.25rem;
}

.share-icon-one {
    background-color: hsl(210, 46%, 95%);
    position: absolute;
    max-width: 3rem;
    width: 2rem;
    margin-left: 16rem;
    border-radius: 80%;
    padding: 0.55rem;
    object-fit: contain;
    cursor: pointer;
}

.social-media-div {
    background-color: hsl(217, 19%, 35%);
    max-width: 100%;
    width: 100%;
    height: 1rem;
    padding: 2.1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.social-media-div.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.share-text {
    color: hsl(212, 23%, 69%);
    max-width: 6rem;
    width: 5rem;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    padding: 0;
    letter-spacing: 0.35rem;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    padding-right: 3rem;
    margin-top: -1.2rem;
    margin-left: 5.5rem;
    cursor: pointer;
}

.facebook-icon {
    padding-right: 1rem;
    cursor: pointer;
}

.twitter-icon {
    padding-right: 1rem;
    cursor: pointer;
}

.pinterest-icon {
    cursor: pointer;
}

.share-icon-two {
    background-color: hsl(214, 17%, 51%);
    position: absolute;
    max-width: 3rem;
    width: 2rem;
    margin-top: -1.6rem;
    margin-left: 14rem;
    padding: 0.6rem;
    border-radius: 80%;
    object-fit: contain;
    cursor: pointer;
}

@media screen and (min-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        padding-top: 10rem;
        padding-left: 21rem;
    }

    .card {
        max-width: 50rem;
        width: 46rem;
        max-height: 20rem;
        height: 18rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        width: 100%;
    }

    .main-photo {
        max-width: 20rem;
        width: 19rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    .text-div {
        max-width: 100%;
        width: 100%;
        padding-left: 1rem;
    }

    .main-title {
        max-width: 30rem;
        width: 23rem;
        font-size: 1.25rem;
        line-height: 1.8rem;
        margin-top: 0.75rem;
    }

    p {
        max-width: 30rem;
        width: 23rem;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .bottom-div {
        position: relative;
        margin-top: 14rem;
        margin-left: -27rem;
    }

    .share-icon-one {
        position: absolute;
        margin-left: 21.75rem;
        cursor: pointer;
    }

    .social-media-div {
        position: absolute;
        max-width: 16rem;
        width: 16rem;
        margin-top: 8.4rem;
        margin-left: 34.5rem;
        padding-bottom: 3rem;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 60% calc(100% - 20px), 50% 100%, 40% calc(100% - 20px), 0 calc(100% - 20px));
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .social-media-div.show {
        opacity: 1;
        visibility: visible;
    }
    
    .share-icon-two {
        display: none;
    }

}